<p>
  <strong>Название:</strong>
  <%= @lit_kom.title %>
</p>

<p>
  <strong>Артикул:</strong>
  <%= @lit_kom.sku %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @lit_kom.desc.html_safe %>
</p>

<p>
  <strong>Категория:</strong>
  <%= @lit_kom.cat %>
</p>

<p>
  <strong>Характеристики:</strong>
  <%= @lit_kom.p1.gsub(' --- ', ', ') %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @lit_kom.price %>
</p>

<p>
  <strong>Количество:</strong>
  <%= @lit_kom.quantity %>
</p>

<p>
  <strong>Картинки:</strong>
  <% @lit_kom.pict.split(' ').each do |image| %>
    <%= image_tag image%>
  <% end %>
</p>

<p>
  <strong>Товар у поставщика:</strong>
  <%= link_to "Ссылка", @lit_kom.link %>
</p>

<%= link_to 'Back', lit_koms_path %>
