<p>
  <strong>Название:</strong>
  <%= @kovcheg.title %>
</p>

<p>
  <strong>Артикул:</strong>
  <%= @kovcheg.sku %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @kovcheg.desc.html_safe %>
</p>

<p>
  <strong>Категория:</strong>
  <%= @kovcheg.cat %>
</p>

<p>
  <strong>Характеристики:</strong>
  <%= @kovcheg.p1.gsub(' --- ', ', ') %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @kovcheg.price %>
</p>

<p>
  <strong>Количество:</strong>
  <%= @kovcheg.quantity %>
</p>

<p>
  <strong>Картинки:</strong>
  <% @kovcheg.pict.split(' ').each do |image| %>
    <%= image_tag image%>
  <% end %>
</p>

<p>
  <strong>Товар у поставщика:</strong>
  <%= link_to "Ссылка", @kovcheg.link, target: '_blank' %>
</p>

<%= link_to 'Back', kovchegs_path %>
