<p>
  <strong>Название:</strong>
  <%= @realflame.title %>
</p>

<p>
  <strong>Артикул:</strong>
  <%= @realflame.sku %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @realflame.desc.html_safe %>
</p>

<p>
  <strong>Категория:</strong>
  <%= @realflame.cat %>
</p>

<p>
  <strong>Характеристики:</strong>
  <%= @realflame.p1.gsub(' --- ', ', ') %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @realflame.price %>
</p>

<p>
  <strong>Количество:</strong>
  <%= @realflame.quantity %>
</p>

<p>
  <strong>Картинки:</strong>
  <% @realflame.pict.split(' ').each do |image| %>
    <%= image_tag image%>
  <% end %>
</p>

<p>
  <strong>Товар у поставщика:</strong>
  <%= link_to "Ссылка", @realflame.link, target: '_blank' %>
</p>

<%= link_to 'Back', realflames_path %>
