<div class="row mb-1 mr-0 ml-0 align-items-center">
  <h3 class="mr-2 ">Товары</h3>
  <div class="col-md-4 ">
    <div class="mr-1">
      <span class="align-middle"><small>Всего: <%= Product.product_all_size %></small></span>
      <span class="align-middle"><small>Отфильтровано: <%=@products.count%></small></span>
      <span class="align-middle"><small>Больше 0: <%= Product.product_qt_not_null_size %></small></span>
    </div>
  </div>
  <div class="col-">
    <div class="col- ">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Действия
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to 'Обновить каталог Товаров', import_insales_xml_products_path, class: 'dropdown-item'%>
          <%= link_to 'Линковать (lit-kom, Kovcheg)', linking_products_path, class: 'dropdown-item'%>
          <%= link_to 'Синхронизировать', syncronaize_products_path, class: 'dropdown-item'%>
          <%= link_to 'Создать CSV-файл для экспорта', export_csv_products_path, class: 'dropdown-item'%>
          <%= link_to 'Создать CSV-файл с товарами без Артикула', csv_not_sku_products_path, class: 'dropdown-item'%>
                <div class="dropdown-divider"></div>
          <%= link_to '(Скачать CSV-файл для экспорта)', "/export_insales.csv", class: 'dropdown-item' %>
          <%= link_to '(Скачать CSV-файл с товарами без Артикула)', "/csv_not_sku.csv", class: 'dropdown-item' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col- ">
    <%= search_form_for @search, html: {class: 'form-inline'}  do |f|%>
      <%= f.search_field :sku_or_title_cont, placeholder: 'Артикул, Название', class: "form-control input-sm"%>
      <%= f.collection_select :distributor_eq, Product.select(:distributor).uniq.order('distributor ASC'), 'distributor', 'distributor', {include_blank: false, prompt: 'Производитель'}, class: "form-control input-sm" , style: "max-width: 150px;" %>
      <%= f.search_field :quantity_gteq, placeholder: 'Остаток: >=', class: "form-control input-sm" %>
      <%= f.search_field :lit_kom_id_or_kovcheg_id_or_nkamin_id_or_tmf_id_or_shulepov_id_or_realflame_id_or_dim_id_or_sawo_id_or_saunaru_id_or_teplodar_id_or_contact_id__or_teplomarket_id_eq, placeholder: 'ID продукта у поставщика', class: "form-control input-sm" %>

      <div class="dropdown">
        <% head = Product::DISTRIBUTOR.map {|attr| attr[1] if @search.send(attr[0].to_sym) }.reject(&:nil?) %>
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">
          <%= head.present? ? head.join(', ') : "Поставщики" %>
        </button>
        <ul class="dropdown-menu">
          <% Product::DISTRIBUTOR.each do |attr| %>
            <li class="dropdown-input dropdown-item<%= ' sync_unsync' if attr[1] == 'Sync' || attr[1] == 'Unsync' %>">
              <%= check_box_tag("q[#{attr[0]}]", 1, @search.send(attr[0].to_sym))%>
              <%= content_tag :span, attr[1] %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="form-group ml-2 button_group">
        <% f.submit 'Поиск', class: 'btn btn-info' %>
        <%= button_tag(type: 'submit', :class => "btn btn-info") do %><span class="oi oi-magnifying-glass"></span><% end %>
        <%= link_to '<span class="oi oi-reload"></span>'.html_safe, products_path, class: 'btn btn-outline-dark' %>
        <%= link_to '<span class="oi oi-list"></span>'.html_safe, products_path(otchet_type: 'selected', q: @params_q_to_csv), title: "Создать файл с выбранными товарами", class: 'btn btn-outline-dark'%>
        <%#= link_to '<span class="oi oi-list"></span>'.html_safe, products_path(selected_products: @search_id_by_q, otchet_type: 'selected'), title: "Создать файл с выбранными товарами", class: 'btn btn-outline-dark'%>
        <%#= link_to '<span class="oi oi-list"></span>'.html_safe, products_path(params.permit(:products).merge(selected_products: @search_all.pluck(:id), otchet_type: 'selected')), title: "Создать файл с выбранными товарами", class: 'btn btn-outline-dark'%>
      </div>
    <% end %>
  </div>
</div>

<div class="table-responsive">
<table class="table table-hover table-condensed table-sm">
  <thead class="thead-light">
    <tr>
      <th><%= check_box_tag 'selectAll', value = 'selectAll'%></th>
      <th>Артикул</th>
      <th>ID</th>
      <th style="width:250px;">Title</th>
      <th>Цена продажи</th>
      <th>Производитель</th>
      <th>Lit-kom</th>
      <th>Kovcheg</th>
      <th>Nkamin</th>
      <th>Tmf</th>
      <th>Shulepov</th>
      <th>Realflame</th>
      <th>Dimplex</th>
      <th>Sawo</th>
      <th>Saunaru</th>
      <th>Teplodar</th>
      <th>ContactPlus</th>
      <th>Всего остатков</th>
      <th>Desc</th>
      <th>Параметры</th>
      <th style="width:250px;">Image</th>
      <th>Товар в InSales</th>
      <th>Товар у поставщика</th>
<!--      <th>Карточка товара</th>-->
    </tr>
  </thead>

  <tbody id="products_table">
    <% @products.each do |product| %>
      <tr class="<%= 'sync' if distributor_exist?(product) %>">
        <td><%=check_box_tag "product_ids[]", product.id%></td>
        <td><%= product.sku %></td>
        <td><%= product.id %></td>
        <td><%= link_to product.title, edit_product_path(product) %></td>
        <td><%= product.price %></td>
        <td><%= product.distributor %></td>

        <td><%= render 'distributor_lit_kom', product: product %></td>
        <td><%= render 'distributor_kovcheg', product: product %></td>
        <td><%= render 'distributor_nkamin', product: product %></td>
        <td><%= render 'distributor_tmf', product: product %></td>
        <td><%= render 'distributor_shulepov', product: product %></td>
        <td><%= render 'distributor_realflame', product: product %></td>
        <td><%= render 'distributor_dimplex', product: product %></td>
        <td><%= render 'distributor_sawo', product: product %></td>
        <td><%= render 'distributor_saunaru', product: product %></td>
        <td><%= render 'distributor_teplodar', product: product %></td>
        <td><%= render 'distributor_contact', product: product %></td>
        <td><%= render 'distributor_teplomarket', product: product %></td>

        <td><%= product.quantity %></td>
        <td><%= product.desc.truncate(25) if product.desc != nil%></td>
        <td><%= product.p1.truncate(25) if product.p1 != nil%></td>
        <td class="row ml-0 mr-0">
          <% if product.image.present? %>
            <% product.image.split(' ').each do |pict| %>
              <div class="w-25">
                <img class="img-thumbnail" src="<%= pict %>">
              </div>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to 'Страница', product.url , target: 'blank' %></td>
        <td>
          <% if product.lit_kom.present? %><p><%= link_to '<span class="oi oi-eye"></span> Lit-kom'.html_safe, product.lit_kom.link , target: 'blank' %></p><%end%>
          <% if product.kovcheg.present? %><p><%= link_to '<span class="oi oi-eye"></span> Kovcheg'.html_safe, product.kovcheg.link , target: 'blank' %></p><%end%>
          <% if product.nkamin.present? %><p><%= link_to '<span class="oi oi-eye"></span> Nkamin'.html_safe, product.nkamin.link , target: 'blank' %></p><%end%>
          <% if product.tmf.present? %><p><%= link_to '<span class="oi oi-eye"></span> Tmf'.html_safe, product.tmf.link , target: 'blank' %></p><%end%>
          <% if product.shulepov.present? %><p><%= link_to '<span class="oi oi-eye"></span> Shulepov'.html_safe, product.shulepov.link , target: 'blank' %></p><%end%>
          <% if product.realflame.present? %><p><%= link_to '<span class="oi oi-eye"></span> Realflame'.html_safe, product.realflame.link , target: 'blank' %></p><%end%>
          <% if product.dim.present? %><p><%= link_to '<span class="oi oi-eye"></span> Dimplex'.html_safe, product.dim.link , target: 'blank' %></p><%end%>
          <% if product.sawo.present? %><p><%= link_to '<span class="oi oi-eye"></span> Sawo'.html_safe, product.sawo.link , target: 'blank' %></p><%end%>
          <% if product.saunaru.present? %><p><%= link_to '<span class="oi oi-eye"></span> Saunaru'.html_safe, product.saunaru.link , target: 'blank' %></p><%end%>
          <% if product.teplodar.present? %><p><%= link_to '<span class="oi oi-eye"></span> Teplodar'.html_safe, product.teplodar.link , target: 'blank' %></p><%end%>
          <% if product.contact.present? %><p><%= link_to '<span class="oi oi-eye"></span> Contact'.html_safe, product.contact.link , target: 'blank' %></p><%end%>
          <% if product.teplomarket.present? %><p><%= link_to '<span class="oi oi-eye"></span> Teplomarket'.html_safe, product.teplomarket.link , target: 'blank' %></p><%end%>
        </td>
<!--        <td><%#= link_to '<span class="oi oi-eye"></span>'.html_safe, product %></td>-->
<!--        <td><%#= link_to '<span class="oi oi-trash"></span>'.html_safe, product, method: :delete, data: { confirm: 'Вы уверенны?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="digg_pagination mt-4 mb-4">
    <%= will_paginate @products %>
</div>
